body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  padding: 100px 0px;
}

.friends-view .container .-left {
  /* All Options */
  /* Search Connections */
  /* Connections */
}

.friends-view .container .-left .-options {
  margin-bottom: 30px;
  text-align: center;
}

.friends-view .container .-left .-options a {
  padding: 11px 5px;
  border: 1px solid #ff7700;
  -webkit-box-shadow: 0 0 15px #e6e6e6;
          box-shadow: 0 0 15px #e6e6e6;
  color: black;
  text-decoration: none;
  display: block;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.friends-view .container .-left .-options a:hover, .friends-view .container .-left .-options a.active {
  background: #ff7700;
  color: white;
}

.friends-view .container .-left .-search-connection {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 0 15px #e6e6e6;
          box-shadow: 0 0 15px #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.friends-view .container .-left .-search-connection input {
  width: 100%;
  border: 1px solid #ff7700;
  padding: 11px;
  border-right: none;
  outline: none;
}

.friends-view .container .-left .-search-connection button {
  position: relative;
  width: 70px;
  outline: none;
  border: 1px solid #ff7700;
  background: #ff7700;
  border-left: none;
}

.friends-view .container .-left .-search-connection button i {
  font-size: 18px;
  position: absolute;
  color: white;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.friends-view .container .-left .-connections {
  margin-top: 70px;
  text-align: center;
  padding: 0px 12px;
}

.friends-view .container .-left .-connections .-each {
  margin-bottom: 30px;
  padding: 30px 0px 22px 0px;
  -webkit-box-shadow: 0 0 15px #e6e6e6;
          box-shadow: 0 0 15px #e6e6e6;
  border-radius: 10px;
}

.friends-view .container .-left .-connections img {
  width: 60%;
}

.friends-view .container .-left .-connections p {
  margin: 0;
  margin-top: 15px;
}

.friends-view .container .-left .-connections .accept-ignore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.friends-view .container .-left .-connections .accept-ignore a {
  padding: 11px 30px;
  border: 1px solid #ff7700;
  text-decoration: none;
  margin-right: 20px;
  color: black;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.friends-view .container .-left .-connections .accept-ignore a:last-of-type {
  margin-right: 0;
}

.friends-view .container .-left .-connections .accept-ignore a:hover {
  background: #ff7700;
  color: #fff;
}

/*media queries*/
/*Tablet version started*/
@media (max-width: 992px) {
  .friends-view .container .-left {
    /* Connections */
  }
  .friends-view .container .-left .-connections p {
    margin-bottom: 15px;
  }
  .friends-view .container .-left .-connections .accept-ignore {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/*Tablet version ended*/
/*# sourceMappingURL=app.css.map */